body {
    display: flex;
    
}


main {
    margin: 10px;
    background-color: dimgrey;
}

.primeira {
    width: 10px;
    height: 5px;
    align-items: flex-start;
    
}

p {
    color: black;
    font-weight: bold;

}

